services:
  kanban-backend:
    image: 007hikari/kanban-backend:latest #! 要与main.yml一致
    container_name: kanban-backend-app
    restart: always
    ports:
      - "8000:8000"
    volumes:
      # 将容器内的数据和日志目录持久化到服务器上
      - ./data:/home/app/data
      - ./log:/home/app/log
    # (可选) 如果你的应用需要环境变量，可以在这里配置
    # environment:
    #   - DATABASE_URL=your_database_url

  # Watchtower 服务，用于自动更新
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      # 需要挂载 docker.sock 才能监控和操作其他容器
      - /var/run/docker.sock:/var/run/docker.sock
    # Watchtower 会每隔 12 小时（3600 * 12 = 43200）检查一次是否有新镜像
    command: --interval 43200